.pastrykits {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.pastrykits__title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 15px;
    line-height: 20px;
}


.pastrykits__card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.pastrykits__card-img {
    display: flex;
}

.pastrykits__card-img img {
    display: block;
    max-width: 80%;
}