.second-section {
    width: 100%;
    display:flex;
}

.second-section__content {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.second-section__image {
    width: 50%;
}

.second-section__image img {
    display: block;
    max-width: 50%;
    height: 50%;
}

.second-section__info {
    width: 35%;
    padding-left: 15px;
}
  @media (max-width: 768px) {
    .second-section__content {
      padding-top: 15px;
      padding-bottom: 15px;
      flex-direction: column;
    }
    .second-section__image {
      width: 100%;
      margin-top: 20px;
    }
    .second-section__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .second-section__info .title {
      width: 100%;
    }
  }
  @media (max-width: 576px) {
    .second-section {
      padding: 0 15px;
    }
  }