.sunblock {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
}

.sunblockTop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.sunblockTop__info-title,
.sunblockBottom__info-title {
    text-transform: uppercase;
}

.sunblockTop__info,
.sunblockBottom__info {
    width: 50%;
    padding: 0 40px;
    position: relative;
}

.sunblockTop__info-description,
.sunblockBottom__info-description {
    font-size: 26px;
    line-height: 40px;
    padding: 20px 0;
    font-family: var(--font-roboto);
}

.sunblockBottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunTop {
    position: absolute;
    right: 5%;
}

.sunBottom {
    position: absolute;
    bottom: 0px;
    right: 40%;
    transform: translateX(-20%);
}

@media (max-width: 992px) {

    .sunblockTop__info,
    .sunblockBottom__info {
        padding: 10px;
    }

    .sunblockTop__info-description,
    .sunblockBottom__info-description {
        font-size: 18px;
        line-height: 28px;
        padding: 5px;
    }

    .sunblockTop__info-title,
    .sunblockBottom__info-title {
        font-size: 16px;
    }

    .sunblockTop img,
    .sunblockBottom img {
        width: 350px;
    }
}

@media (max-width: 768px) {

    .sunblockTop__info,
    .sunblockBottom__info {
        padding: 10px;
    }

    .sunblockTop__info-description,
    .sunblockBottom__info-description {
        font-size: 14px;
        line-height: 20px;
        padding: 5px;
    }

    .sunblockTop__info-title,
    .sunblockBottom__info-title {
        font-size: 12px;
    }

    .sunblockTop {
        padding-bottom: 10px;
    }

    .sunblockTop img,
    .sunblockBottom img {
        width: 300px;
    }

    .sunblockTop,
    .sunblockBottom {
        position: relative;
    }
}

@media (max-width: 576px) {
    .sunblock {
        padding: 0;
    }

    .sunblockTop,
    .sunblockBottom {
        display: flex;
        flex-direction: column;
        border: 1px solid #000;
        padding-bottom: 0px;
        margin: 5px;
        border-radius: 20px;
    }

    .sunblockTop__info,
    .sunblockBottom__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 5px;
    }

    .sunblockBottom__img,
    .sunblockTop__img {
        margin: 5px;
    }

    .sunblockTop img,
    .sunblockBottom img {
        display: none;
    }

    .sunblock img {
        width: 250px;
    }

    .sunBottom {
        bottom: 20px;
        overflow: hidden;
    }

    .sunTop {
        top: 20px;
    }
}