@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    color: #fff;
}

header .header_top {
    padding: 15px;
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header_top input {
    min-width: 250px;
}

header .info {
    display: block;
}

.info__phone a {
    color: rgb(88, 88, 88);
}

.menu {

    width: 100%;

}

.menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 15px;
    justify-content: space-between;
}

.menu ul li {
    margin-left: 15px;
}

.menu ul li:first-child {
    margin-left: 0;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(77, 77, 77);
    display: block;
    transition: 0.3s ease-in all;
}

.menu ul li a:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.1);
}

footer {
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
}

footer .ftop {
    width: 100%;
    bottom: 0;
    margin: 0;
    background-color: rgb(27, 27, 27);
    text-align: justify;
}

footer .PHbot {
    display: flex;
    text-align: justify;
    color: rgb(88, 88, 88);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.sidebar {
    border: 1px solid black;
}

.sidebar__list {
    list-style: none;
}

.sidebar__list li {
    padding: 5px 15px;
}

.main {
    display: flex;
}

.main__left {
    width: 30%;
}

.main__right {
    width: 50%;
}

.info {
    margin-top: 20px;
    display: flex;
    padding: 14px;
    border: 1px solid #eee;
}

.info__icon {
    width: 20%;
}

.info.active {
    background-color: black;
    color: white;
}

.info__text {
    width: 40%;
}

.info__text-title {
    font-size: 25px;
    font-weight: 700;
}

.info__text-description {
    font-weight: 300;
}

.slider {
    display: flex;
    border: 1px solid #eee;
    min-height: 200px;
}

.card-list {
    display: flex;
    justify-content: space-between;
}

.card {
    border: 1px solid grey;
    padding: 15px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card__img {
    width: 160px;
    height: 160px;
    background-color: rgb(27, 27, 27);
}

.card__title {
    font-size: 18px;
    line-height: 20px;
}

.card__price {
    font-size: 16px;
    line-height: 18px;
}

.card__btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.card__btn div {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__btn div:nth-child(1) {
    background-color: black;
    color: white;
}

.card__btn div:nth-child(2) {
    background-color: gray;
}